<app-navbar></app-navbar>

<div class="container profile-container">
  <div class="profil-mentor">
    <img
      alt="Profile picture of the mentor"
      class="profile-image"
      src="assets/images/mentor1.svg"
      width="250"
      height="250"
    />
  </div>
  <div class="profile-details" *ngIf="mentor; else loading">
    <h1>{{ mentor.name }}</h1>
    <p>{{ mentor.email }}</p>
    <p>{{ mentor.biographie }}</p>
    <p>
      <span class="experience">{{ mentor.experience }} ans</span> expériences |
      <span class="language">{{ mentor.langue }}</span>
    </p>
    <div class="request">
      <p class="members">300 membres</p>
      <div> <i class="fas fa-plus"></i>
        <span>Demande</span></div>
    </div>

    <div class="buttons">
      <button class="btn btn-articles" (click)="goToPage('article/mentor')">Articles</button>
      <button class="btn btn-outline-dark" (click)="goToPage('session')">Sessions</button>
      <button class="btn btn-outline-dark" (click)="goToPage('abonner/mentore')">Membres</button>
    </div>
  </div>
  <ng-template #loading>
    <p>Chargement des détails du mentor...</p>
  </ng-template>
</div>
