<div class="sidebar">
    <div class="logo">
        <img src="../../../assets/logo.png" alt="Logo">
    </div>
    <nav>
        <ul>
            <li><a href="#"> <img src="../../../assets/uil_dashboard1.svg" alt=""> Tableau de bord</a></li>
            <li><a href="#" id="domaine"><img src="../../../assets/dashicons_category1.svg" alt=""> Domaines</a></li>
            <li><a href="#"><img src="../../../assets/healthicons_i-training-class.svg" alt="">Formations</a></li>
            <li><a href="#"><img src="../../../assets/eos-icons_role-binding.svg" alt="">Rôles et permissions</a></li>
        </ul>
    </nav>
</div>

<div class="main-content">
    <div class="header">
        <h2>Nos Catégories</h2>
        <button class="btn-add">Ajouter</button>
    </div>

    <div class="tags-container">
        <button class="category-tag">Informatique</button>
        <button class="category-tag">Marketing</button>
        <button class="category-tag">Comptabilité</button>
        <button class="category-tag">Transport Logistique</button>
    </div>

    <div class="categories">
        <div class="category-card">
            <img src="../../../assets/informatique.png" alt="Informatique">
            <p>Informatique</p>
        </div>
        <div class="category-card">
            <img src="../../../assets/informatique.png" alt="Marketing">
            <p>Marketing</p>
        </div>
        <div class="category-card">
            <img src="../../../assets/informatique.png" alt="Comptabilité">
            <p>Comptabilité</p>
        </div>
        <div class="category-card">
            <img src="../../../assets/informatique.png" alt="Transport Logistique">
            <p>Transport Logistique</p>
        </div>
    </div>
</div>
 