<app-navbar/>
<div class="container content">
  <div class="row">
    <div class="col-lg-8 ">
      <h1>L'Évolution du Développement Web</h1>
      <h2> Cheikh Sane |<span class="text-primary">Informatique</span></h2>
      <img class="image-banner" alt="Person with glasses looking at a computer screen displaying code" height="400" src="assets/images/detail.svg" width="800"/>
      <div class="likes"><i class="fas fa-thumbs-up"></i><span>12 J'aimes</span>
      </div>
      <p>
        Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base. C'est le 12 mars 1989, il y a 30 ans, jour pour jour, que Tim Berners-Lee, un scientifique britannique du Cern, a soumis un texte intitulé « Gestion de l'information : une proposition ». Internet occupait déjà une place de plus en plus importante pour les échanges d'informations, notamment dans les milieux universitaires. Certaines des technologies, associées à tort aujourd'hui au Web, existaient déjà à l'époque. L'e-mail date de 1965, tandis que les newsgroups, les premiers systèmes de forums électroniques, ont été inventés dès 1979.
      </p>
      <div class="comments">
        <h3>
          Commentaires
        </h3>
        <div class="comment">
          <h4>
            Fatin Seck
          </h4>
          <p>
            dummy text used in printing and typesetting industry since the 1500s
          </p>
        </div>
        <div class="comment">
          <h4>
            Adiaratou Oumy
          </h4>
          <p>
            dummy text used in printing and typesetting industry since the 1500s
          </p>
        </div>
        <div class="comment">
          <h4>
            Aminata Assane Ndiaye
          </h4>
          <p>
            dummy text used in printing and typesetting industry since the 1500s
          </p>
        </div>
      </div>
    </div>


    <div class="col-lg-4 mt-5">
      <div class="suggestions">
        <div class="suggestion-title">
          Suggestions
        </div>
        <div class="row mb-1">
          <div class="">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <h4 class="mb-0 card-title">Featured post</h4>
                <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <p class="card-author">Cheikh Sane</p>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img  width="150" height="190" src="https://img.freepik.com/premium-photo/computer-lab-with-vibrant-energetic-atmosphere-dynamic-lighting_1308549-19673.jpg?uid=R87226485&ga=GA1.1.917949220.1701081905&semt=ais_hybrid" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <h4 class="mb-0 card-title">Featured post</h4>
                <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <p class="card-author">Cheikh Sane</p>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img  width="150" height="190" src="https://img.freepik.com/premium-photo/computer-lab-with-vibrant-energetic-atmosphere-dynamic-lighting_1308549-19673.jpg?uid=R87226485&ga=GA1.1.917949220.1701081905&semt=ais_hybrid" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
