<app-navbar/>
<div class="container mt-5">
  <div class="row">
   <div class="col-md-3">
    <div class="sidebar">
     <h2 class="shadow1">
      Articles
     </h2>
     <button class="btn">
      INFORMATIQUE
     </button>
     <button class="btn">
      COMPTABILITÉ
     </button>
     <button class="btn">
      SOCIOLOGIE
     </button>
     <button class="btn">
      FISCALITÉ
     </button>
    </div>
   </div>
   <div class="col-md-9">
    <div class="row">
     <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
            L'évolution du Développement Web
           </h5>
        </div>
       <img alt="Person working on a computer with code on the screen" class="card-img-top" height="200" src="assets/images/detail.svg" width="600"/>
       <div class="card-body">

        <p class="card-text">
         Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base.
        </p>
       </div>
       <div class="card-footer">
        <small class="text-muted">
         Par: Cheikh Sane
        </small>
        <a class="btn btn-link float-end" routerLink="/details-article">
         Voir plus
         <i class="fas fa-arrow-right">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
            L'évolution du Développement Web
           </h5>
        </div>
       <img alt="Person working on a computer with code on the screen" class="card-img-top" height="200" src="assets/images/detail.svg" width="600"/>
       <div class="card-body">

        <p class="card-text">
         Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base.
        </p>
       </div>
       <div class="card-footer">
        <small class="text-muted">
         Par: Cheikh Sane
        </small>
        <a class="btn btn-link float-end" routerLink="/details-article">
         Voir plus
         <i class="fas fa-arrow-right">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
            L'évolution du Développement Web
           </h5>
        </div>
       <img alt="Person working on a computer with code on the screen" class="card-img-top" height="200" src="assets/images/detail.svg" width="600"/>
       <div class="card-body">

        <p class="card-text">
         Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base.
        </p>
       </div>
       <div class="card-footer">
        <small class="text-muted">
         Par: Cheikh Sane
        </small>
        <a class="btn btn-link float-end" routerLink="/details-article">
         Voir plus
         <i class="fas fa-arrow-right">
         </i>
        </a>
       </div>
      </div>
     </div>
     <!-- <div class="col-md-4">
      <div class="card shadow">
       <img alt="Person working on a computer with code on the screen" class="card-img-top" height="200" src="assets/images/detail.svg" width="600"/>
       <div class="card-body">
        <h5 class="card-title">
         L'évolution du Développement Web
        </h5>
        <p class="card-text">
         Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base.
        </p>
       </div>
       <div class="card-footer">
        <small class="text-muted">
         Par: Cheikh Sane
        </small>
        <a class="btn btn-link float-end" routerLink="/details-article">
         Voir plus
         <i class="fas fa-arrow-right">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="col-md-4">
      <div class="card">
       <img alt="Person working on a computer with code on the screen" class="card-img-top" height="200" src="assets/images/detail.svg" width="600"/>
       <div class="card-body">
        <h5 class="card-title">
         L'évolution du Développement Web
        </h5>
        <p class="card-text">
         Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base.
        </p>
       </div>
       <div class="card-footer">
        <small class="text-muted">
         Par: Cheikh Sane
        </small>
        <a class="btn btn-link float-end" routerLink="/details-article">
         Voir plus
         <i class="fas fa-arrow-right">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="col-md-4">
      <div class="card">
       <img alt="Person working on a computer with code on the screen" class="card-img-top" height="200" src="assets/images/detail.svg" width="600"/>
       <div class="card-body">
        <h5 class="card-title">
         L'évolution du Développement Web
        </h5>
        <p class="card-text">
         Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base.
        </p>
       </div>
       <div class="card-footer">
        <small class="text-muted">
         Par: Cheikh Sane
        </small>
        <a class="btn btn-link float-end" routerLink="/details-article">
         Voir plus
         <i class="fas fa-arrow-right">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="col-md-4">
      <div class="card">
       <img alt="Person working on a computer with code on the screen" class="card-img-top" height="200" src="assets/images/detail.svg" width="600"/>
       <div class="card-body">
        <h5 class="card-title">
         L'évolution du Développement Web
        </h5>
        <p class="card-text">
         Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base.
        </p>
       </div>
       <div class="card-footer">
        <small class="text-muted">
         Par: Cheikh Sane
        </small>
        <a class="btn btn-link float-end" routerLink="/details-article">
         Voir plus
         <i class="fas fa-arrow-right">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="col-md-4">
      <div class="card">
       <img alt="Person working on a computer with code on the screen" class="card-img-top" height="200" src="assets/images/detail.svg" width="600"/>
       <div class="card-body">
        <h5 class="card-title">
         L'évolution du Développement Web
        </h5>
        <p class="card-text">
         Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base.
        </p>
       </div>
       <div class="card-footer">
        <small class="text-muted">
         Par: Cheikh Sane
        </small>
        <a class="btn btn-link float-end" routerLink="/details-article">
         Voir plus
         <i class="fas fa-arrow-right">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="col-md-4">
      <div class="card">
       <img alt="Person working on a computer with code on the screen" class="card-img-top" height="200" src="assets/images/detail.svg" width="600"/>
       <div class="card-body">
        <h5 class="card-title">
         L'évolution du Développement Web
        </h5>
        <p class="card-text">
         Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base.
        </p>
       </div>
       <div class="card-footer">
        <small class="text-muted">
         Par: Cheikh Sane
        </small>
        <a class="btn btn-link float-end" routerLink="/details-article">
         Voir plus
         <i class="fas fa-arrow-right">
         </i>
        </a>
       </div>
      </div>
     </div>
     <div class="col-md-4">
      <div class="card">
       <img alt="Person working on a computer with code on the screen" class="card-img-top" height="200" src="assets/images/detail.svg" width="600"/>
       <div class="card-body">
        <h5 class="card-title">
         L'évolution du Développement Web
        </h5>
        <p class="card-text">
         Décrivez les premières années du web, où les sites étaient statiques, principalement composés de texte et d'images simples, avec HTML comme langage de base.
        </p>
       </div>
       <div class="card-footer">
        <small class="text-muted">
         Par: Cheikh Sane
        </small>
        <a class="btn btn-link float-end" routerLink="/details-article">
         Voir plus
         <i class="fas fa-arrow-right">
         </i>
        </a>
       </div>
      </div>
     </div>
    </div> -->
   </div>
  </div>
 </div>
