<!-- Spinner Start -->
<div id="spinner"
  class="show w-3 vh-5 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
  <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->


<!-- Navbar start -->
<div class="container-fluid nav-bar">
  <div class="container">
    <nav class="navbar navbar-light navbar-expand-lg py-4">
      <a href="index.html" class="navbar-brand">
        <h1 class="text-primary fw-bold mb-0">Foot<span class="text-dark">Navétane</span> </h1>
      </a>
      <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars text-primary"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
          <a href="index.html" class="nav-item nav-link active">Acceuil</a>
          <a href="about.html" class="nav-item nav-link">About</a>
          <a href="service.html" class="nav-item nav-link">Blog</a>
          <a href="event.html" class="nav-item nav-link">Evenement</a>
          <a href="menu.html" class="nav-item nav-link">Resultats</a>
        </div>
        <a href="" class="btn btn-white py-2 px-4 d-none d-xl-inline-block rounded-pill">Connexion</a>
      </div>
    </nav>
  </div>
</div>
<!-- Navbar End -->


<!-- Hero Start --> 
<div class="container-fluid bg-light py-6 my-6 mt-0">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-7 col-md-12">
        <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-4 animated bounceInDown">Foot Navetane</small>
        <h1 class="display-1 mb-4 animated bounceInDown">Foot<span class="text-primary"></span>Navetane</h1>
        <a href="" class="btn btn-primary border-0 rounded-pill py-3 px-4 px-md-5 me-4 animated bounceInLeft">Voir Plus</a>
      </div>
      <div class="col-lg-5 col-md-12">
        <img src="assets/images/Component237.png" class="img-fluid rounded animated zoomIn" alt="Foot Navetane">
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->


  <!-- About Satrt -->
  <div class="container-fluid py-6">
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
          <img src="../../../assets/image/Image.png" class="img-fluid rounded" alt="News">
        </div>
        <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
          <small
            class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">About
            Us</small>
          <h1 class="display-5 mb-4">Trusted By 200 + satisfied clients</h1>
          <p class="mb-4">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore eit esdioilore magna
            aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullaemco laboeeiris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor iesdein reprehendeerit in voluptate velit esse cillum dolore.</p>
          <a href="" class="btn btn-primary py-3 px-5 rounded-pill">About Us<i class="fas fa-arrow-right ps-2"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->


<!-- Ours Blog -->

        <div class="container mt-4">
            <div class="row card-container">
                <div class="col-md-4 mb-4">
                    <div class="blog-post-card p-3">
                        <img class="image-icon" alt="Image description" src="Foo_Navetane/src/app/assets/image/Image.png">
                        <div class="content mt-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="heading">Nos Révélations</h5>

                                <i class="bi bi-arrow-up-right-circle"></i>
                            </div>
                            <p class="supporting-text mt-2">
                                How do you create compelling presentations that wow your colleagues and impress your
                                managers?
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="blog-post-card p-3">
                        <img class="image-icon" alt="Image description" src="Foo_Navetane/src/app/assets/image/Image.png">
                        <div class="content mt-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="heading">Nos Révélations</h5>
                                <!-- Utilisation de l'icône Bootstrap pour la flèche -->
                                <i class="bi bi-arrow-up-right-circle"></i>
                            </div>
                            <p class="supporting-text mt-2">
                                How do you create compelling presentations that wow your colleagues and impress your
                                managers?
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="blog-post-card p-3">
                        <img class="image-icon" alt="Image description" src="Foo_Navetane/src/app/assets/image/Image.png">
                        <div class="content mt-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="heading">Nos Révélations</h5>
                                <!-- Utilisation de l'icône Bootstrap pour la flèche -->
                                <i class="bi bi-arrow-up-right-circle"></i>
                            </div>
                            <p class="supporting-text mt-2">
                                How do you create compelling presentations that wow your colleagues and impress your
                                managers?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- Ours Blog End -->


<!-- Matches Start -->

<section>

    <div class="container my-4"></div>
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="d-flex justify-content-center">
                    <img src="img/event-4.jpg" alt="">
                    <img src="img/event-4.jpg" alt="">
                </div>
                <h5 class="mt-2">ECO <span class="vs">vs</span> Diappo</h5>
                <p>01 Octobre 2024 <span>17h30</span></p>

            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="d-flex justify-content-center">
                    <img src="img/event-4.jpg" alt="">
                    <img src="img/event-4.jpg" alt="">
                </div>
                <h5 class="mt-2">ECO <span class="vs">vs</span> Diappo</h5>
                <p>01 Octobre 2024 <span>17h30</span></p>

            </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="d-flex justify-content-center">
                    <img src="img/event-4.jpg" alt="">
                    <img src="img/event-4.jpg" alt="">
                </div>
                <h5 class="mt-2">ECO <span class="vs">vs</span> Diappo</h5>
                <p>01 Octobre 2024 <span>17h30</span></p>

            </div>
        </div>
        <!-- Card 4 -->
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="d-flex justify-content-center">
                    <img src="img/event-4.jpg" alt="">
                    <img src="img/event-4.jpg" alt="">
                </div>
                <h5 class="mt-2">ECO <span class="vs">vs</span> Diappo</h5>
                <p>01 Octobre 2024 <span>17h30</span></p>

            </div>
        </div>
    </div>
</section>
<!-- Matches End -->


    <!-- Ours Statistique boad -->


    <div class="container mt-5"></div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Position</th>
          <th>Equipe</th>
          <th>MJ</th>
          <th>G</th>
          <th>P</th>
          <th>N</th>
          <th>BM</th>
          <th>BE</th>
          <th>Pts</th>
          <th>DB</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Diappo</td>
          <td>5</td>
          <td>6</td>
          <td>9</td>
          <td>0</td>
          <td>3</td>
          <td>9</td>
          <td>12</td>
          <td>2</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Diappo</td>
          <td>5</td>
          <td>6</td>
          <td>9</td>
          <td>0</td>
          <td>3</td>
          <td>9</td>
          <td>12</td>
          <td>2</td>
        </tr>
        <tr>
          <th>3</th>
          <td>Diappo</td>
          <td>5</td>
          <td>6</td>
          <td>9</td>
          <td>0</td>
          <td>3</td>
          <td>9</td>
          <td>12</td>
          <td>2</td>
        </tr>
        <tr>
          <th>4</th>
          <td>Diappo</td>
          <td>5</td>
          <td>6</td>
          <td>9</td>
          <td>0</td>
          <td>3</td>
          <td>9</td>
          <td>12</td>
          <td>2</td>
        </tr>
        <tr>
          <th>5</th>
          <td>Diappo</td>
          <td>5</td>
          <td>6</td>
          <td>9</td>
          <td>0</td>
          <td>3</td>
          <td>9</td>
          <td>12</td>
          <td>2</td>
        </tr>
        <tr>
          <th>6</th>
          <td>Diappo</td>
          <td>5</td>
          <td>6</td>
          <td>9</td>
          <td>0</td>
          <td>3</td>
          <td>9</td>
          <td>12</td>
          <td>2</td>
        </tr>
        <tr>
          <th>7</th>
          <td>Diappo</td>
          <td>5</td>
          <td>6</td>
          <td>9</td>
          <td>0</td>
          <td>3</td>
          <td>9</td>
          <td>12</td>
          <td>2</td>
        </tr>
        <tr>
          <th>8</th>
          <td>Diappo</td>
          <td>5</td>
          <td>6</td>
          <td>9</td>
          <td>0</td>
          <td>3</td>
          <td>9</td>
          <td>12</td>
          <td>2</td>
        </tr>
        <tr>
          <th>9</th>
          <td>Diappo</td>
          <td>5</td>
          <td>6</td>
          <td>9</td>
          <td>0</td>
          <td>3</td>
          <td>9</td>
          <td>12</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>

<!-- Ours Statistiques  -->


 <!-- Events Start -->
 <div class="container-fluid event py-6">
   <div class="container">
     <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
       <small
         class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Latest
         Events</small>
       <h1 class="display-5 mb-5">Our Social & Professional Events Gallery</h1>
     </div>
     <div class="tab-class text-center">
       <ul class="nav nav-pills d-inline-flex justify-content-center mb-5 wow bounceInUp" data-wow-delay="0.1s">
         <li class="nav-item p-2">
           <a class="d-flex mx-2 py-2 border border-primary bg-light rounded-pill active" data-bs-toggle="pill"
             href="#tab-1">
             <span class="text-dark" style="width: 150px;">Gallery</span>
           </a>
         </li>

       </ul>
       <div class="tab-content">
         <div id="tab-1" class="tab-pane fade show p-0 active">
           <div class="row g-4">
             <div class="col-lg-12">
               <div class="row g-4">
                 <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s">
                   <div class="event-img position-relative">
                     <img class="img-fluid rounded w-100" src="img/event-1.jpg" alt="">
                     <div class="event-overlay d-flex flex-column p-4">
                       <h4 class="me-auto">Sapeur Pompier</h4>
                       <a href="img/event-1.jpg" data-lightbox="event-1" class="my-auto"><i
                           class="fas fa-search-plus text-dark fa-2x"></i></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.3s">
                   <div class="event-img position-relative">
                     <img class="img-fluid rounded w-100" src="img/event-2.jpg" alt="">
                     <div class="event-overlay d-flex flex-column p-4">
                       <h4 class="me-auto">Police</h4>
                       <a href="img/event-2.jpg" data-lightbox="event-2" class="my-auto"><i
                           class="fas fa-search-plus text-dark fa-2x"></i></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.5s">
                   <div class="event-img position-relative">
                     <img class="img-fluid rounded w-100" src="img/event-3.jpg" alt="">
                     <div class="event-overlay d-flex flex-column p-4">
                       <h4 class="me-auto">sante et aide</h4>
                       <a href="img/event-3.jpg" data-lightbox="event-3" class="my-auto"><i
                           class="fas fa-search-plus text-dark fa-2x"></i></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.7s">
                   <div class="event-img position-relative">
                     <img class="img-fluid rounded w-100" src="img/event-4.jpg" alt="">
                     <div class="event-overlay d-flex flex-column p-4">
                       <h4 class="me-auto">securité</h4>
                       <a href="img/event-4.jpg" data-lightbox="event-4" class="my-auto"><i
                           class="fas fa-search-plus text-dark fa-2x"></i></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s">
                   <div class="event-img position-relative">
                     <img class="img-fluid rounded w-100" src="img/event-5.jpg" alt="">
                     <div class="event-overlay d-flex flex-column p-4">
                       <h4 class="me-auto">esprit de groupe</h4>
                       <a href="img/event-5.jpg" data-lightbox="event-5" class="my-auto"><i
                           class="fas fa-search-plus text-dark fa-2x"></i></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.3s">
                   <div class="event-img position-relative">
                     <img class="img-fluid rounded w-100" src="img/event-6.jpg" alt="">
                     <div class="event-overlay d-flex flex-column p-4">
                       <h4 class="me-auto">cohesion</h4>
                       <a href="img/event-6.jpg" data-lightbox="event-6" class="my-auto"><i
                           class="fas fa-search-plus text-dark fa-2x"></i></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.5s">
                   <div class="event-img position-relative">
                     <img class="img-fluid rounded w-100" src="img/event-7.jpg" alt="">
                     <div class="event-overlay d-flex flex-column p-4">
                       <h4 class="me-auto">chants</h4>
                       <a href="img/event-7.jpg" data-lightbox="event-7" class="my-auto"><i
                           class="fas fa-search-plus text-dark fa-2x"></i></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.7s">
                   <div class="event-img position-relative">
                     <img class="img-fluid rounded w-100" src="img/event-8.jpg" alt="">
                     <div class="event-overlay d-flex flex-column p-4">
                       <h4 class="me-auto">danse</h4>
                       <a href="img/event-8.jpg" data-lightbox="event-17" class="my-auto"><i
                           class="fas fa-search-plus text-dark fa-2x"></i></a>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div id="tab-2" class="tab-pane fade show p-0">
           <div class="row g-4">
             <div class="col-lg-12">
               <div class="row g-4">
                 <div class="col-md-6 col-lg-3">
                   <div class="event-img position-relative">
                     <img class="img-fluid rounded w-100" src="img/event-1.jpg" alt="">
                     <div class="event-overlay d-flex flex-column p-4">
                       <h4 class="me-auto"> Mistique</h4>
                       <a href="img/01.jpg" data-lightbox="event-8" class="my-auto"><i
                           class="fas fa-search-plus text-dark fa-2x"></i></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6 col-lg-3">
                   <div class="event-img position-relative">
                     <img class="img-fluid rounded w-100" src="img/event-2.jpg" alt="">
                     <div class="event-overlay d-flex flex-column p-4">
                       <h4 class="me-auto">Jeux d'equipe</h4>
                       <a href="img/01.jpg" data-lightbox="event-9" class="my-auto"><i
                           class="fas fa-search-plus text-dark fa-2x"></i></a>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div id="tab-3" class="tab-pane fade show p-0">
           <div class="row g-4">
             <div class="col-lg-12">
               <div class="row g-4">
                 <div class="col-md-6 col-lg-3">
                   <div class="event-img position-relative">
                     <img class="img-fluid rounded w-100" src="img/event-3.jpg" alt="">
                     <div class="event-overlay d-flex flex-column p-4">
                       <h4 class="me-auto">Competition</h4>
                       <a href="img/01.jpg" data-lightbox="event-10" class="my-auto"><i
                           class="fas fa-search-plus text-dark fa-2x"></i></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6 col-lg-3">
                   <div class="event-img position-relative">
                     <img class="img-fluid rounded w-100" src="img/event-4.jpg" alt="">
                     <div class="event-overlay d-flex flex-column p-4">
                       <h4 class="me-auto">Aspect sportif</h4>
                       <a href="img/01.jpg" data-lightbox="event-11" class="my-auto"><i
                           class="fas fa-search-plus text-dark fa-2x"></i></a>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div id="tab-4" class="tab-pane fade show p-0">
           <div class="row g-4">
             <div class="col-lg-12">
               <div class="row g-4">
                 <div class="col-md-6 col-lg-3">
                   <div class="event-img position-relative">
                     <img class="img-fluid rounded w-100" src="img/event-5.jpg" alt="">
                     <div class="event-overlay d-flex flex-column p-4">
                       <h4 class="me-auto">Apport de la jeunesse</h4>
                       <a href="img/01.jpg" data-lightbox="event-12" class="my-auto"><i
                           class="fas fa-search-plus text-dark fa-2x"></i></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6 col-lg-3">
                   <div class="event-img position-relative">
                     <img class="img-fluid rounded w-100" src="img/event-6.jpg" alt="">
                     <div class="event-overlay d-flex flex-column p-4">
                       <h4 class="me-auto">Vie associative</h4>
                       <a href="img/01.jpg" data-lightbox="event-13" class="my-auto"><i
                           class="fas fa-search-plus text-dark fa-2x"></i></a>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div id="tab-5" class="tab-pane fade show p-0">
           <div class="row g-4">
             <div class="col-lg-12">
               <div class="row g-4">
                 <div class="col-md-6 col-lg-3">
                   <div class="event-img position-relative">
                     <img class="img-fluid rounded w-100" src="img/event-7.jpg" alt="">
                     <div class="event-overlay d-flex flex-column p-4">
                       <h4 class="me-auto">Ambiance</h4>
                       <a href="img/01.jpg" data-lightbox="event-14" class="my-auto"><i
                           class="fas fa-search-plus text-dark fa-2x"></i></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6 col-lg-3">
                   <div class="event-img position-relative">
                     <img class="img-fluid rounded w-100" src="img/event-8.jpg" alt="">
                     <div class="event-overlay d-flex flex-column p-4">
                       <h4 class="me-auto">Ascpect Culturel</h4>
                       <a href="img/01.jpg" data-lightbox="event-15" class="my-auto"><i
                           class="fas fa-search-plus text-dark fa-2x"></i></a>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- Events End -->

<!-- <footer></footer> -->




   <!-- Footer Start -->
   <div class="container-fluid footer py-6 my-6 mb-0 bg-light wow bounceInUp" data-wow-delay="0.1s">
     <div class="container">
       <div class="row">
         <div class="col-lg-3 col-md-6">
           <div class="footer-item">
             <h1 class="text-primary">Foot<span class="text-dark">Navetane</span></h1>
             <p class="lh-lg mb-4">There cursus massa at urnaaculis estieSed aliquamellus vitae ultrs condmentum leo
               massamollis its estiegittis miristum.</p>
             <!-- <div class="footer-icon d-flex">
               <a class="btn btn-primary btn-sm-square me-2 rounded-circle" href=""><i
                   class="fab fa-facebook-f"></i></a>
               <a class="btn btn-primary btn-sm-square me-2 rounded-circle" href=""><i class="fab fa-twitter"></i></a>
               <a href="#" class="btn btn-primary btn-sm-square me-2 rounded-circle"><i
                   class="fab fa-instagram"></i></a>
               <a href="#" class="btn btn-primary btn-sm-square rounded-circle"><i class="fab fa-linkedin-in"></i></a>
             </div> -->
           </div>
         </div>
         <!-- <div class="col-lg-3 col-md-6">
           <div class="footer-item">
             <h4 class="mb-4">Special Facilities</h4>
             <div class="d-flex flex-column align-items-start">
               <a class="text-body mb-3" href=""><i class="fa fa-check text-primary me-2"></i>Cheese Burger</a>
               <a class="text-body mb-3" href=""><i class="fa fa-check text-primary me-2"></i>Sandwich</a>
               <a class="text-body mb-3" href=""><i class="fa fa-check text-primary me-2"></i>Panner Burger</a>
               <a class="text-body mb-3" href=""><i class="fa fa-check text-primary me-2"></i>Special Sweets</a>
             </div>
           </div>
         </div> -->
         <!-- <div class="col-lg-3 col-md-6">
           <div class="footer-item">
             <h4 class="mb-4">Contact Us</h4>
             <div class="d-flex flex-column align-items-start">
               <p><i class="fa fa-map-marker-alt text-primary me-2"></i> 123 Street, New York, USA</p>
               <p><i class="fa fa-phone-alt text-primary me-2"></i> (+012) 3456 7890 123</p>
               <p><i class="fas fa-envelope text-primary me-2"></i> infoexample.com</p>
               <p><i class="fa fa-clock text-primary me-2"></i> 26/7 Hours Service</p>
             </div>
           </div>
         </div>
         <!-- <div class="col-lg-3 col-md-6">
           <div class="footer-item">
             <h4 class="mb-4">Social Gallery</h4>
             <div class="row g-2">
               <div class="col-4">
                 <img src="img/menu-01.jpg" class="img-fluid rounded-circle border border-primary p-2" alt="">
               </div>
               <div class="col-4">
                 <img src="img/menu-02.jpg" class="img-fluid rounded-circle border border-primary p-2" alt="">
               </div>
               <div class="col-4">
                 <img src="img/menu-03.jpg" class="img-fluid rounded-circle border border-primary p-2" alt="">
               </div>
               <div class="col-4">
                 <img src="img/menu-04.jpg" class="img-fluid rounded-circle border border-primary p-2" alt="">
               </div>
               <div class="col-4">
                 <img src="img/menu-05.jpg" class="img-fluid rounded-circle border border-primary p-2" alt="">
               </div>
               <div class="col-4">
                 <img src="img/menu-06.jpg" class="img-fluid rounded-circle border border-primary p-2" alt="">
               </div>
             </div>
           </div>
         </div> -->
       </div>
     </div>
   </div> -->
   <!-- Footer End -->


   <!-- Copyright Start -->
   <div class="container-fluid copyright bg-dark py-4">
     <div class="container">
       <div class="row">
         <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
           <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Foot Navetane</a>, All
             right reserved.</span>
         </div>
         <div class="col-md-6 my-auto text-center text-md-end text-white">
           <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
           <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
           <!--/*** you can purchase the Credit Removal License from "#". ***/-->
           Designed By <a class="border-bottom" href="#">HTML Codex</a> Distributed By <a class="border-bottom"
             href="#">Makhtoum</a>
         </div>
       </div>
     </div>
   </div>
   <!-- Copyright End -->


   <!-- Back to Top -->
   <a href="#" class="btn btn-md-square btn-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>