<div class="sidebar">
    <div class="logo">
        <img src="../../../assets/logo.png" alt="Logo">
    </div>
    <nav>
        <ul>
            <li><a href="#"><img src="../../../assets/uil_dashboard1.svg" alt=""> Tableau de bord</a></li>
            <li><a href="#"><img src="../../../assets/dashicons_category.svg" alt=""> Domaines</a></li>
            <li><a href="#"><img src="../../../assets/healthicons_i-training-class.svg" alt=""> Formations</a></li>
            <li><a href="#" id="roles"><img src="../../../assets/eos-icons_role-binding1.svg" alt=""> Rôles et permissions</a></li>
        </ul>
    </nav>
</div>
<div class="main-content">
    <div class="header">
        <h1>Rôles et Permissions</h1>
        <div class="buttons">
            <button class="roles">Rôles</button>
            <button>Permissions</button>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nom Complet</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Rôles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Mentor</option>
                        <option value="">Mentee</option>
                        <option value="">Administrateur</option>
                    </select>
                </td>                  
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Mentee</option>
                        <option value="">Mentor</option>
                        <option value="">Administrateur</option>
                    </select>
                </td>                  
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Administrateur</option>
                        <option value="">Mentor</option>
                        <option value="">Mentee</option>
                    </select>
                </td>                  
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Mentor</option>
                        <option value="">Mentee</option>
                        <option value="">Administrateur</option>
                    </select>
                </td>                  
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Mentee</option>
                        <option value="">Mentor</option>
                        <option value="">Administrateur</option>
                    </select>
                </td>
              
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Administrateur</option>
                        <option value="">Mentor</option>
                        <option value="">Mentee</option>
                    </select>
                </td>                  
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Mentor</option>
                        <option value="">Mentee</option>
                        <option value="">Administrateur</option>
                    </select>
                </td>                  
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Mentee</option>
                        <option value="">Mentor</option>
                        <option value="">Administrateur</option>
                    </select>
                </td>                  
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Administrateur</option>
                        <option value="">Mentor</option>
                        <option value="">Mentee</option>
                    </select>
                </td>                  
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Mentor</option>
                        <option value="">Mentee</option>
                        <option value="">Administrateur</option>
                    </select>
                </td>                  
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Mentee</option>
                        <option value="">Mentor</option>
                        <option value="">Administrateur</option>
                    </select>
                </td>                  
            </tr>
            <tr>
                <td>Adama Gueye Tall</td>
                <td>talladamero&#64;gmail.com</td>
                <td>+221 77 234 56 78</td>
                <td>
                    <select name="" id="">
                        <option value="">Administrateur</option>
                        <option value="">Mentor</option>
                        <option value="">Mentee</option>
                    </select>
                </td>                  
            </tr>
        </tbody>
    </table>
</div>