<footer>
<div class="container footer">
  <div class="row">
      <div class="col-md-4">
          <h5>Guindiko</h5>
          <p>Écoutez les témoignages de nos utilisateurs qui ont transformé leurs vies grâce à Guindiko. Leurs histoires d'apprentissage, de croissance et de succès sont la preuve de l'impact positif de notre plateforme.</p>
      </div>
      <div class="col-md-4">
          <h5>Accueil</h5>
          <p>Mentor</p>
          <p>Article</p>
          <p>Forum</p>
      </div>
      <div class="col-md-4">
          <h5>Formation</h5>
          <p>Etudiants</p>
          <p>Reconversion</p>
          <p>Forum</p>
      </div>
  </div>
</div>
</footer>
