<div class="container">
  <div class="logo">
    <img alt="Guindiko logo" height="100" src="assets/images/logo.svg" width="200"/>
  </div>
  <h2 class="mb-4">Bienvenue chez Guindiko</h2>

  <form (ngSubmit)="connexion()"> <!-- Bind form submit to connexion method -->
    <div class="mb-3 text-start">
      <label class="form-label" for="email">Email</label>
      <input
        class="form-control"
        id="email"
        placeholder="alpha.diallo@exemple.com"
        type="email"
        [(ngModel)]="userobject.email"
        name="email"> <!-- Bind input to userobject.email -->
    </div>
    <div class="mb-3 text-start">
      <label class="form-label" for="password">Mot de passe</label>
      <input
        class="form-control"
        id="password"
        placeholder="****"
        type="password"
        [(ngModel)]="userobject.password"
        name="password"> <!-- Bind input to userobject.password -->
    </div>
    <button class="btn btn-custom" type="submit">Connexion</button>
  </form>

  <div class="mt-3">
    <p>Vous n'avez pas de compte? <a [routerLink]="['/inscription']" routerLinkActive="router-link-active" class="text-decoration-none">S'inscrire</a></p> <!-- Link to signup page -->
  </div>
</div>
