<app-profil-mentor></app-profil-mentor>
<div class="container mt-5">
  <div *ngFor="let abonne of abonnes" class="card mb-3">
    <div class="card-body d-flex align-items-center">
      <img [src]="'assets/images/abonner.svg'" class="profile-img" alt="Profile image of {{ abonne.nom }}" width="50" height="50">
      <div class="ml-3">
        <h5 class="card-title mb-0">{{ abonne.nom }}</h5>
        <p class="card-text">{{ abonne.email }}</p>
      </div>
      <div class="ml-auto">
        <span class="ellipsis">...</span>
      </div>
    </div>
  </div>
</div>
