<div class="sidebar">
  <h1>Guindiko <span>nature</span></h1>
  <ul>
    <li><a routerLink="/dashboard-mentor" routerLinkActive="active"><i class="fas fa-home"></i> Dashboard</a></li>
    <li><a routerLink="/session-mentor" routerLinkActive="active"><i class="fas fa-calendar-alt"></i> Sessions</a></li>
    <li><a routerLink="/article-dashboard" routerLinkActive="active"><i class="fas fa-newspaper"></i> Articles</a></li>
    <li><a routerLink="/abonner-mentor" routerLinkActive="active"><i class="fas fa-user"></i> Abonné(e)</a></li>
    <li (click)="logout()"><a routerLink="/logout" routerLinkActive="active"><i class="fas fa-sign-out-alt"></i> Déconnexion</a></li>
  </ul>
</div>

<div class="header">
  <div class="user-info">
    <span>{{ userName }}</span>
    <i class="fas fa-bell" (click)="toggleNotifications()"></i>
    <a routerLink="/modifier/profile-mentor"><i class="fas fa-user-circle"></i></a>
  </div>
  <div *ngIf="showNotifications" class="notifications-dropdown">
    <ul>
      <li *ngFor="let notification of notifications">
        {{ notification.data }}
      </li>
    </ul>
  </div>
</div>
