<app-sidebar/>
<div class="main-content">
  <div class="stats">
    <div class="stat">
      <h3>Sessions</h3>
      <p>{{ nombreSessions }}</p>
    </div>
    <div class="stat">
      <h3>Membres</h3>
      <p>150</p>
    </div>
    <div class="stat">
      <h3>Demandes</h3>
      <p>{{ nombreDemandes }}</p>
    </div>
    <div class="stat">
      <h3>Articles</h3>
      <p>{{ nombreArticles }}</p>
    </div>
  </div>
  <div class="sessions">
   <h2>
    Sessions a venir
   </h2>
   <div class="session-item">
    <div class="details">
     <h3>
      Thème: What is Lorem Ipsum
     </h3>
     <p>
      Informatique
     </p>
     <p>
      Date: 10/01/2024 | 3h
     </p>
    </div>
    <div class="actions">
     <a href="#">
      <i class="fas fa-book">
      </i>
      Ressources
     </a>
    </div>
   </div>
   <div class="session-item">
    <div class="details">
     <h3>
      Thème: What is Lorem Ipsum
     </h3>
     <p>
      Informatique
     </p>
     <p>
      Date: 10/01/2024 | 3h
     </p>
    </div>
    <div class="actions">
     <a href="#">
      <i class="fas fa-book">
      </i>
      Ressources
     </a>
    </div>
   </div>
  </div>
  <div class="requests">
   <h2>
    Liste des demandes
   </h2>
   <table>
    <thead>
     <tr>
      <th>
       Nom Complet
      </th>
      <th>
       Actions
      </th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td>
       Fatim Ndiaye
      </td>
      <td>
       <i class="fas fa-check">
       </i>
       <i class="fas fa-times">
       </i>
      </td>
     </tr>
     <tr>
      <td>
       Maty Seck
      </td>
      <td>
       <i class="fas fa-check">
       </i>
       <i class="fas fa-times">
       </i>
      </td>
     </tr>
     <tr>
      <td>
       Martin Diop
      </td>
      <td>
       <i class="fas fa-check">
       </i>
       <i class="fas fa-times">
       </i>
      </td>
     </tr>
     <tr>
      <td>
       Adiara Mbodj
      </td>
      <td>
       <i class="fas fa-check">
       </i>
       <i class="fas fa-times">
       </i>
      </td>
     </tr>
    </tbody>
   </table>
  </div>
 </div>
