/* Mise à jour du style .content */
.content {
/* <<<<<<< HEAD
  margin-left:  16em;
  padding: 5em 2em;
======= */
  margin-top: 10vh;
  margin-left: 22vh;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Conteneur des cartes d'articles */
.article-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
.content .btn {
  background-color: #5e2a84;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 10vh;
}
/* Style pour chaque carte d'article */
.article-card {
  flex: 1 1 calc(33.333% - 40px); /* 3 cartes par ligne avec 20px de gap */
  max-width: 25%;
  background: #f4f4f4;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Boutons Modifier et Supprimer */
.edit-button, .delete-button {
  background-color: #5b0a87;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.delete-button {
  background-color: #ff4d4d;
}

/* Style pour le titre de l'article */
.article-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style pour les métadonnées de l'article */
.article-meta {
  font-size: 16px;
  color: #5b0a87;
  margin-bottom: 10px;
}

.article-meta .author {
  font-weight: bold;
  color: black;
}

/* Image de l'article */
.article-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Icône et texte des j'aimes */
.likes {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.likes .icon {
  margin-right: 10px;
}

/* Texte de description de l'article */
.article-text {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}
