<header class="header">
  <h1 routerLink="/">Guindiko</h1>
  <nav>
    <a routerLink="/formations" routerLinkActive="active-link">Formation</a>
    <a routerLink="/mentor" routerLinkActive="active-link">Mentor</a>
    <a routerLink="/article" routerLinkActive="active-link">Articles</a>
  </nav>
  <div *ngIf="isAuthenticated; else loginTemplate">
    <span>Bienvenue, {{ userName }}</span>
    <button (click)="logout()" class="deconnexion">Déconnexion</button>
  </div>
  <ng-template #loginTemplate>
    <button class="button" routerLink="/connexion">Connexion</button>
  </ng-template>
</header>
