<app-sidebar></app-sidebar>

<!-- Contenu principal -->
<div class="content">
  <!-- Message d'erreur -->
  <div *ngIf="error" class="error-message">{{ error }}</div>

  <!-- Message si aucune demande reçue -->
  <ng-container *ngIf="!loading && !error">
    <div *ngIf="demandesRecues.length === 0" class="no-demande">
      <p>Vous n'avez pas encore reçu de demandes de mentorat.</p>
    </div>

    <!-- Liste des demandes reçues -->
    <div *ngIf="demandesRecues.length > 0" class="subscriber-list">
      <div *ngFor="let demande of demandesRecues" class="subscriber-item">
        <img [src]="demande.profileImageUrl || defaultProfileImageUrl"
             alt="Photo de profil de {{ demande.mentee_id }}" />
             <div class="info">
              <h3>Nom du Mentee: {{ demande.mentee_id || 'Nom non disponible' }}</h3>
              <p>Mentee ID: {{ demande.mentee_id }}</p>
            </div>
        <div class="actions">
          <button (click)="accepterDemande(demande.id)">Accepter</button>
          <button (click)="refuserDemande(demande.id)">Refuser</button>
        </div>
      </div>
    </div>

     <!-- Liste des demandes acceptées -->
     <div *ngIf="demandesAcceptees.length > 0" class="accepted-mentees-list">
      <h2>Mentees Acceptés</h2>
      <div *ngFor="let mentee of demandesAcceptees" class="accepted-mentee-item">
        <img [src]="mentee.profileImageUrl || defaultProfileImageUrl"
             alt="Photo de profil de {{ mentee.mentee_id }}" />
        <div class="info">
          <h3>{{ mentee.mentee_id || 'Nom non disponible' }}</h3>
        </div>
      </div>
    </div>
  </ng-container>
</div>
