<div class="sidebar">
  <div class="logo">
      <img src="./assets/logo.png" alt="Logo">
  </div>
  <nav>
      <ul>
          <li><a href="#" id="tableau_de_bord"><img src="./assets/uil_dashboard.svg" alt=""> Tableau de bord</a></li>
          <li><a href="#"><img src="./assets/dashicons_category.svg" alt="">Utilisateur</a></li>
          <li><a href="#"><img src="./assets/healthicons_i-training-class.svg" alt="">Competition</a></li>
          <li><a href="#"><img src="./assets/eos-icons_role-binding.svg" alt="">Resultat</a></li>
          <li><a href="#"><img src="./assets/healthicons_i-training-class.svg" alt="">Article</a></li>
          <li><a href="#"><img src="./assets/eos-icons_role-binding.svg" alt="">Roles&permissions</a></li>
      </ul>
  </nav>
</div>
<div class="main-content">
  <!-- <div class="stats-container">
      <div class="stat-card" id="carte">
          <h3>Demandes de mentorat</h3>
          <p>98</p>
      </div>
      <div class="stat-card">
          <h3>Nombre de Mentees</h3>
          <p>98</p>
      </div>
      <div class="stat-card" id="carte">
          <h3> Nombre de Mentors</h3>
          <p>98</p>
      </div>
      <div class="stat-card">
          <h3>Réservations de sessions</h3>
          <p>98</p>
      </div> -->
  </div>

  <div class="table-container">
      <h2>Demandes de mentorat</h2>
      <table>
          <thead>
              <tr>
                  <th>Nom Complet</th>
                  <th>Email</th>
                  <th>Téléphone</th>
                  <th>Diplôme</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Adia Oumy Fall</td>
                  <td>falladiaraoumy&#64;gmail.com</td>
                  <td>+221 77 812 84 26</td>
                  <td>Master en Informatique</td>
                  <td class="action-icons">
                      <i class="fas fa-eye"></i>
                      <i class="fas fa-edit"></i>
                      <i class="fas fa-trash-alt"></i>
                  </td>
              </tr>
              <!-- Autres lignes -->
          </tbody>
      </table>
  </div>
<!-- </div> -->
